# If set to true, then npm will stubbornly refuse to install (or even consider installing)
# any package that claims to not be compatible with the current Node.js version.
# It will be ignored in case using npm ci command in order to install deps
engine-strict=true
cache=.npm
